<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品分类显示</title>
</head>
<body>
    <table>
        <tr>
            <th>分类编号</th>
            <th>分类名称</th>
            <th>操作</th>
        </tr>
        <th:block th:each="c:${categoryList}">
            <tr>
                <td th:text="${c.categoryId}"></td>
                <td th:text="${c.categoryName}"></td>
                <th>
                    <a th:href="@{/admin/updateShow(categoryId=${c.categoryId})}">修改</a>
                    <a th:href="@{/admin/category/updateShow(categoryId=${c.categoryId})}">删除</a>
                </th>
            </tr>
        </th:block>
        <tr>
            <td colspan="3">
                <a href="/admin/addShow">添加分类</a>
                <a href="/admin/list">返回</a>
            </td>
        </tr>
    </table>
</body>
</html>
