<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品添加</title>
</head>
<body>
<div class="title">
    商品分类添加
</div>
<form action="addSubmit" method="post">
    <table>
        <tr>
            <td>分类名称</td>
            <td>
                <input type="text" name="categoryName" required="required">
            </td>
        </tr>

        <tr>

            <td>
                <input type="submit" value="添加">
                <a href="/admin/list">返回</a>
            </td>
        </tr>
    </table>
</form>

</div>

</body>
</html>
